.mat-elevation-z8 {
    transition: none !important;
    box-shadow: none !important;
}
mat-header-cell{
    font-weight:bold;
}

.overflow{
  overflow: auto;
  max-height: 340px;
}


.mat-table {
  overflow: scroll;
  max-height: 400px;
}

mat-cell,
mat-header-cell {
  min-width: 200px;
  text-align: center;
}

.card-header{
  background-color: lightsalmon;
}

.card{
  width: 100%;
}
// .mat-row,
// .mat-header-row {
//   width: 250%;
// }
