<div class="card">
<div class="card-header">
  HWC Categories
</div>
  <tabset>
  <tab heading="All Categories" (select)="mapByCategory(selectedAll)">
    <div class="row">
      <div class="col-6">
          <mat-form-field>
              <mat-select placeholder="Project Year" [(value)]="selectedAll" (selectionChange)="mapByCategory($event.value)">
                <mat-option *ngFor="let yearAll of yearArr" [value]="yearAll">
                  {{yearAll}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col-6">

          <div class="container mr-0 pr-0">
              <!-- <button  (click)="downloadShapeFile(catGeoJson )" class="btn  btn-primary float-right">Export</button> -->
              <button class="btn  btn-primary float-right" (click)="saveToFile(catGeoJson,'hwccat'+ '('+selectedAll+')')"><a href='#' id='export'></a>GeoJSON</button>
            </div>

      </div>
     </div>

     <div  #mapAll style="height:400px;">
      <div id='legend' class='legend'>
        <h4>HWC Categories</h4>
      </div>
    </div>
  </tab>
  <tab heading="Crop Loss" (select)="mapByCatCR(selectedCR)">
    <div class="row">
      <div class="col-6">
          <mat-form-field>
              <mat-select placeholder="Project Year" [(value)]="selectedCR" (selectionChange)="mapByCatCR($event.value)">
                <mat-option *ngFor="let yearCR of yearArr" [value]="yearCR">
                  {{yearCR}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col-6">

          <div class="container mr-0 pr-0">
            <!-- <button  (click)="downloadShapeFile(crGeoJson )" class="btn  btn-primary float-right">Export</button> -->
            <button class="btn  btn-primary float-right" (click)="saveToFile(crGeoJson,'crop_loss'+ '('+selectedCR+')')"><a href='#' id='export'></a>GeoJSON</button>
            </div>
      </div>
     </div>
     <div  #mapCR style="height:400px;">
    </div>
  </tab>
  <tab heading="Crop & Property Loss" (select)="mapByCatCRPD(selectedCRPD)">
    <div class="row">
      <div class="col-6">
          <mat-form-field>
              <mat-select placeholder="Project Year" [(value)]="selectedCRPD" (selectionChange)="mapByCatCRPD($event.value)">
                <mat-option *ngFor="let yearCRPD of yearArr" [value]="yearCRPD">
                  {{yearCRPD}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col-6">

          <div class="container mr-0 pr-0">
            <!-- <button download (click)="downloadShapeFile(crpdGeoJson )" class="btn  btn-primary float-right">Export</button> -->
            <button class="btn  btn-primary float-right" (click)="saveToFile(crpdGeoJson,'crop_and_property _ loss'+ '('+selectedCRPD+')')"><a href='#' id='export'></a>GeoJSON</button>
            </div>
      </div>
     </div>
     <div  #mapCRPD style="height:400px;">
    </div>
  </tab>
  <tab heading="Property Loss" (select)="mapByCatPD(selectedPD)">
    <div class="row">
      <div class="col-6">
          <mat-form-field>
              <mat-select placeholder="Project Year" [(value)]="selectedPD" (selectionChange)="mapByCatPD($event.value)">
                <mat-option *ngFor="let yearPD of yearArr" [value]="yearPD">
                  {{yearPD}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col-6">

          <div class="container mr-0 pr-0">
            <!-- <button  (click)="downloadShapeFile(pdGeoJson )" class="btn  btn-primary float-right">Export</button> -->
            <button class="btn  btn-primary float-right" (click)="saveToFile(pdGeoJson,'property_loss'+ '('+selectedPD+')')"><a href='#' id='export'></a>GeoJSON</button>
            </div>
      </div>
     </div>
     <div  #mapPD style="height:400px;">
    </div>
  </tab>
  <tab heading="Livestock Predation" (select)="mapByCatLP(selectedLP)">
    <div class="row">
      <div class="col-6">
          <mat-form-field>
              <mat-select placeholder="Project Year" [(value)]="selectedLP" (selectionChange)="mapByCatLP($event.value)">
                <mat-option *ngFor="let yearLP of yearArr" [value]="yearLP">
                  {{yearLP}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col-6">

          <div class="container mr-0 pr-0">
            <!-- <button  (click)="downloadShapeFile(lpGeoJson )" class="btn  btn-primary float-right">Export</button> -->
            <button class="btn  btn-primary float-right" (click)="saveToFile(lpGeoJson,'livestock_predation'+ '('+selectedLP+')')"><a href='#' id='export'></a>GeoJSON</button>
            </div>
      </div>
     </div>
     <div  #mapLP style="height:400px;" >
    </div>
  </tab>
  <tab heading="Human Injuries" (select)="mapByCatHI(selectedHI)">
    <div class="row">
      <div class="col-6">
          <mat-form-field>
              <mat-select placeholder="Project Year" [(value)]="selectedHI" (selectionChange)="mapByCatHI($event.value)">
                <mat-option *ngFor="let yearHI of yearArr" [value]="yearHI">
                  {{yearHI}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col-6">

          <div class="container mr-0 pr-0">
            <!-- <button  (click)="downloadShapeFile(hiGeoJson )" class="btn  btn-primary float-right">Export</button> -->
            <button class="btn  btn-primary float-right" (click)="saveToFile(hiGeoJson,'human_injury'+ '('+selectedHI+')')"><a href='#' id='export'></a>GeoJSON</button>
            </div>
      </div>
     </div>
     <div  #mapHI style="height:400px;">
    </div>
  </tab>
  <tab heading="Human Death" (select)="mapByCatHD(selectedHD)">
    <div class="row">
      <div class="col-6">
          <mat-form-field>
              <mat-select placeholder="Project Year" [(value)]="selectedHD" (selectionChange)="mapByCatHD($event.value)">
                <mat-option *ngFor="let yearHD of yearArr" [value]="yearHD">
                  {{yearHD}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col-6">

        <div class="container mr-0 pr-0">
          <!-- <button  (click)="downloadShapeFile(hiGeoJson )" class="btn  btn-primary float-right">Export</button> -->
          <button class="btn  btn-primary float-right" (click)="saveToFile(hdGeoJson,'human_death'+selectedHD)"><a href='#' id='export'></a>GeoJSON</button>
          </div>
    </div>
     </div>
     <div #mapHD style="height:400px"></div>
  </tab>
</tabset>
</div>


<div class="card">
  <div class="card-header">
    Publicity (Visited Villages Since Start)
  </div>
  <div #mapElement style="height: 400px"></div>
</div>
