<div class="container">
  <div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary " (click)="showHideButton()">{{buttonName}} </button>
    </div>
  </div>
</div>
<!--
<kendo-chart>
  <kendo-chart-series>
    <kendo-chart-title text="Monthly Mean Temperatures (&deg;F)"></kendo-chart-title>
    <kendo-chart-series-item type="boxPlot" [data]="data"
     lowerField="lower" q1Field="q1" medianField="median" q3Field="q3" upperField="upper"
      meanField="mean" categoryField="year" title="Saves the current document">
     <kendo-chart-series-item-tooltip  background="grey" format="Min: {0}, q1: {1}, Avg: {2}, q3: {3}, Max: {4}">
      </kendo-chart-series-item-tooltip>
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart> -->

<div class="card date card-block " *ngIf="showMainContent">
  <div class="card-body date-body">
    <form class="align-items-center d-flex justify-content-center" #form="ngForm" (submit)="onSubmit(fromDate, toDate)">
      <div class="form-group my-0">
        <label for="fromDate" for="toDate">From</label>

        <my-date-picker name="fromDate" [options]="myDatePickerOptions" [(ngModel)]="fromDate" required></my-date-picker>
        <!-- <span *ngIf="form.controls['fromDate'].errors?.required && form.controls['fromDate'].dirty">This field is required.</span> -->

      </div>
      <div class="col-sm-1">

      </div>
      <div class="form-group my-0" >
        <label for="toDate" for="toDate">To</label>
        <my-date-picker  name="toDate" [options]="myDatePickerOptions" [(ngModel)]="toDate" required></my-date-picker>
        <!-- <span *ngIf="form.controls['toDate'].errors?.required && form.controls['toDate'].dirty">This field is required.</span> -->
      </div>


        <!-- <label> </label> -->
        <div class="mt-4">
          <!-- <button mat-raised-button type="submit" class="btn btn-primary pull-right">Submit</button> -->
          <input [disabled]="!form.valid " class="btn btn-primary" type="submit" value="Submit" />
        </div>

    </form>
  </div>
</div>

<!--<div id="chartContainer" style="height: 300px; width: 100%;">boxPlot</div>-->
<!--
<div class="row mx-1">
    <div class="card ">
      <div class="card-header c1">
        Number of Cases Over Time(BP,NH)
        <div class="card-header-actions">

        </div>
      </div>
      <div class="card-body h1">
        <div class="chart-wrapper hi">
          <canvas id="canvas">{{ lineChart }}</canvas>
        </div>
      </div>
    </div>
  </div>

<div class="row mx-1">
    <div class="card ">
      <div class="card-header c2">
        Number Of Cases By HWC Category
        <div class="card-header-actions">
          <div class="row">
            <div class="radio">
              <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="both">BP + NH &nbsp;</label>
            </div>
            <div class="radio">
              <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="bp">BP &nbsp;</label>
            </div>
            <div class="radio">
              <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="nh">NH &nbsp;</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body h1">
        <div class="chart-wrapper hi" [hidden]="chartType !== 'both'">
          <canvas baseChart class="chart" id="can">{{ barChart }}</canvas>
        </div>
        <div class="chart-wrapper hi" [hidden]="chartType !== 'bp'">
          <canvas baseChart class="chart" id="bp">{{ barChart }}</canvas>
        </div>
        <div class="chart-wrapper hi" [hidden]="chartType !== 'nh'">
          <canvas baseChart class="chart" id="nh">{{ barChart }}</canvas>
        </div>
      </div>
    </div>
  </div>
 -->
<!--
 <tabset>
  <tab heading="Static title">Static content</tab>
  <tab *ngFor="let tabz of tabs"
       [heading]="tabz.title"
       [active]="tabz.active"
       (select)="tabz.active = true"
       (deselect)="tabz.active = false"
       [disabled]="tabz.disabled"
       [removable]="tabz.removable"
       (removed)="removeTabHandler(tabz)"
       [customClass]="tabz.customClass">
    {{tabz?.content}}
  </tab>
</tabset>
 -->

<!--
 <div class="row">
  <button (click)="toggle1()">Btn1</button>
  <button (click)="toggle1()">Btn2</button>
</div> -->

<!-- <div class="card" >
  <div class="card-header">
    Top 10 Villages(All Cases)
  </div>
  <div class="card-body">
  <div class="hi"><canvas id="barParkYearByCat"></canvas></div>
</div>
 </div> -->

 <!-- <div class="card" >


  <div class="card-header">
    Number of Cases in Each Year of the Project(July to June)
  </div>
  <div class="card-body">
  <div class="hi"><canvas id="barParkYearByC"></canvas></div>
</div>
 </div> -->

 <div class="card" *ngIf="!showMainContent">
    <div class="card-header">
        Total number of cases in each year of project [BP,NH] (July-June)
    </div>
    <div class="card-body h1 p-1">
      <!-- <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(barParkProjexp, 'Top_Villages_All_Cases')">
                  Export
                </div> -->
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barParkProj,'Top 10 Villages(All Cases)')">Download</button>
    <div class="hi"><canvas id="barParkProj">{{barParkProj}}</canvas></div>
  </div>
   </div>



 <div class="card" *ngIf="!showMainContent">
    <div class="card-header">
        Total number of cases by HWC Category in each year of project [BP+NH] (July-June)
    </div>
    <div class="card-body h1 p-1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatParkProj,'Total number of cases by HWC Category in each year of project [BP+NH] (July-June)')">Download</button>
    <div class="hi"><canvas id="barCatParkProj">{{barCatParkProj}}</canvas></div>
  </div>
   </div>



 <div class="card" *ngIf="!showMainContent">
    <div class="card-header">
        Total number of cases by HWC Category in each year of project [BP, NH] (July-June)
    </div>
   <tabset>
     <tab heading="Project Year4" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatProj[3],'Total number of cases by HWC Category [BP, NH] Project Year4')">Download</button>
      <div class="hi"><canvas id="barCatProj3">{{barCatProj[3]}}</canvas></div>
     </tab>
     <tab heading="Project Year3" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatProj[2],'Total number of cases by HWC Category [BP, NH] Project Year3')">Download</button>
      <div class="hi"><canvas id="barCatProj2">{{barCatProj[2]}}</canvas></div>
     </tab>
     <tab heading="Project Year2" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatProj[1],'Total number of cases by HWC Category [BP, NH] Project Year2')">Download</button>
    <div class="hi"><canvas id="barCatProj1">{{barCatProj[1]}}</canvas></div>
   </tab>
   <tab heading="Project Year1" class="h1">
    <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatProj[0],'Total number of cases by HWC Category [BP, NH] Project Year1')">Download</button>
  <div class="hi"><canvas id="barCatProj0">{{barCatProj[0]}}</canvas></div>
  </tab>
   </tabset>
   </div>



   <div class="card" *ngIf="!showMainContent">
      <div class="card-header">
          Number of cases attended in Bandipur and Nagarahole (BPNH) previous day
        </div>
        <tabset>
          <tab class="h1" heading="HWC Category">
            <!--<div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataBpNhCat, 'DC_Cases_By_category')">
                  Export
                </div>-->

              <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(prevDayBpNhCat, 'Number of Cases in Each Year of the Project(July to June)')">Download</button>
    <div class="hi"><canvas id="prevDayBpNhCat">{{prevDayBpNhCat}}</canvas></div>
          </tab>
          <tab class="h1" heading="Park">
             <!-- <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataBpNh, 'Number_of_cases_attended_in_Bandipur_and_Nagarahole_(BPNH)_previous_day_by_park')">
                  Export
                </div> -->
              <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(prevDayBpNhAll, 'Number of Cases in Each Year of the Project(July to June)')">Download</button>
              <div class="hi"><canvas id="prevDayBpNhAll">{{prevDayBpNhAll}}</canvas></div>
          </tab>
        </tabset>
  </div>


  <div class="card" *ngIf="showMainContent">
  <div class="card-header">
    Total number of cases by HWC Category
  </div>
 <tabset>
   <tab heading="Bandipur + Nagarahole" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barBpNhByDate,'Total number of cases by HWC Category(BP+NH)')">Download</button>
    <div class="hi"><canvas id="barBpNhByDate">{{barBpNhByDate}}</canvas></div>
   </tab>
   <tab heading="Bandipur" class="h1">
    <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barBpByDate,'Total number of cases by HWC Category(BP)')">Download</button>
    <div class="hi"><canvas id="barBpByDate">{{barBpByDate}}</canvas></div>
   </tab>
   <tab heading="Nagarahole" class="h1">
  <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barNhByDate,'Total number of cases by HWC Category(NH)')">Download</button>
  <div class="hi"><canvas id="barNhByDate">{{barNhByDate}}</canvas></div>
</tab>
 </tabset>
 </div>








 <div class="card" *ngIf="!showMainContent">
  <div class="card-header">
    Number of Cases in Each Year of the Project(July to June)
  </div>
  <div class="card-body" class="h1 p-1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(bar, 'Number of Cases in Each Year of the Project(July to June)')">Download</button>
  <div class="hi"><canvas id="bar">{{bar}}</canvas></div>
</div>
 </div>


 <div class="card" *ngIf="!showMainContent">
  <div class="card-header">
      Frequency of Human-Wildlife Conflict Incidents
  </div>
 <tabset>
   <tab heading="Total Cases" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYear,'Frequency of Human-Wildlife Conflict Incidents By Year')">Download</button>
    <div class="hi"><canvas id="barYear">{{barYear}}</canvas></div>
   </tab>
   <tab heading="Total Cases By Park" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barParkYear,'Frequency of Human-Wildlife Conflict Incidents By Year By Park')">Download</button>
    <div class="hi"><canvas id="barParkYear">{{barParkYear}}</canvas></div>
   </tab>
 </tabset>
 </div>




 <div class="card" *ngIf="!showMainContent">
   <div class="card-header" >
      Monthly Frequency of Human-Wildlife Conflict Incidents by Year
   </div>

 <tabset>
    <tab heading="2019" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChart[4],'Monthly Frequency of Human-Wildlife Conflict Incidents(2019)')">Download</button>
      <div class="hi"><canvas  id="bar4"></canvas></div>
     </tab>
     <tab heading="2018" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChart[3],'Monthly Frequency of Human-Wildlife Conflict Incidents(2018)')">Download</button>
      <div class="hi"><canvas  id="bar3"></canvas></div>
     </tab>
     <tab heading="2017" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChart[2],'Monthly Frequency of Human-Wildlife Conflict Incidents(2017)')">Download</button>
      <div class="hi"><canvas  id="bar2"></canvas></div>
     </tab>
     <tab heading="2016" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChart[1],'Monthly Frequency of Human-Wildlife Conflict Incidents(2016)')">Download</button>
      <div class="hi"><canvas  id="bar1"></canvas></div>
  </tab>
   <tab heading="2015" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChart[0],'Monthly Frequency of Human-Wildlife Conflict Incidents(2015)')">Download</button>
      <div class="hi"><canvas id="bar0"></canvas></div>
   </tab>

</tabset>
</div>

<div class="card" *ngIf="!showMainContent">
    <div class="card-header" >
       Monthly Frequency of Human-Wildlife Conflict Incidents by Year by  Park
    </div>

  <tabset>
      <tab heading="2019" class="h1">
          <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChartByPark[4],'Monthly Frequency of Human-Wildlife Conflict Incidents(2019)')">Download</button>
        <div class="hi"><canvas  id="barYearChartByPark4"></canvas></div>
       </tab>
      <tab heading="2018" class="h1">
         <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChartByPark[3],'Monthly Frequency of Human-Wildlife Conflict Incidents(2018)')">Download</button>
       <div class="hi"><canvas  id="barYearChartByPark3"></canvas></div>
      </tab>
      <tab heading="2017" class="h1">
         <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChartByPark[2],'Monthly Frequency of Human-Wildlife Conflict Incidents(2017)')">Download</button>
       <div class="hi"><canvas  id="barYearChartByPark2"></canvas></div>
      </tab>
      <tab heading="2016" class="h1">
         <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChartByPark[1],'Monthly Frequency of Human-Wildlife Conflict Incidents(2016)')">Download</button>
       <div class="hi"><canvas  id="barYearChartByPark1"></canvas></div>
   </tab>
    <tab heading="2015" class="h1">
       <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barYearChartByPark[0],'Monthly Frequency of Human-Wildlife Conflict Incidents(2015)')">Download</button>
       <div class="hi"><canvas id="barYearChartByPark0"></canvas></div>
    </tab>
  </tabset>

 </div>


 <div class="card" *ngIf="!showMainContent">
  <div class="card-header">
    Frequency of Human-Wildlife Conflict Incidents by HWC Category
  </div>
  <div class="card-body" class="h1 p-1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(b,'Frequency of Human-Wildlife Conflict Incidents by HWC Category')">Download</button>
        <div class="hi"><canvas id="b">{{b}}</canvas></div>
      </div>
 </div>

 <div class="card" *ngIf="!showMainContent">
    <div class="card-header">
      Frequency of Human-Wildlife Conflict Incidents by Year by Park by Category
    </div>

    <tabset>
      <tab heading="Crop Loss" class = "h1">
          <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barParkYearByCat[0],'Frequency of Human-Wildlife Conflict Incidents by Year by Park by Category(Crop Loss)')">Download</button>
        <div class="hi"><canvas  id="barParkYearByCat0"></canvas></div>
       </tab>
       <tab heading="Crop & Property Loss" class = "h1">
          <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barParkYearByCat[1],'Frequency of Human-Wildlife Conflict Incidents by Year by Park by Category(Crop & Property Loss)')">Download</button>
        <div class="hi"><canvas  id="barParkYearByCat1"></canvas></div>
       </tab>
       <tab heading="Property Loss" class = "h1">
          <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barParkYearByCat[5],'Frequency of Human-Wildlife Conflict Incidents by Year by Park by Category(Property Loss)')">Download</button>
        <div class="hi"><canvas  id="barParkYearByCat5"></canvas></div>
    </tab>
      <tab heading="Livestock Predation" class = "h1">
          <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barParkYearByCat[4],'Frequency of Human-Wildlife Conflict Incidents by Year by Park by Category(Livestock Predation)')">Download</button>
         <div class="hi"><canvas id="barParkYearByCat4"></canvas></div>
      </tab>
      <tab heading="Human Injury" class = "h1">
          <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barParkYearByCat[3],'Frequency of Human-Wildlife Conflict Incidents by Year by Park by Category(Human Injury)')">Download</button>
        <div class="hi"><canvas id="barParkYearByCat3"></canvas></div>
     </tab>
     <tab heading="Human Death" class = "h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barParkYearByCat[2],'Frequency of Human-Wildlife Conflict Incidents by Year by Park by Category(Human Death)')">Download</button>
      <div class="hi"><canvas id="barParkYearByCat2"></canvas></div>
   </tab>
    </tabset>
    <!-- <div class="hi"><canvas id="barVil"></canvas></div> -->

   </div>

 <div class="card" *ngIf="!showMainContent">
    <div class="card-header">
        Monthly Frequency of Human-Wildlife Conflict Incidents by HWC Category
    </div>

  <tabset>
      <tab heading="2019" class="h1">
          <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatChart[4],'Monthly Frequency of Human-Wildlife Conflict Incidents by HWC Category(2019)')">Download</button>
        <div class="hi"><canvas  id="b4"></canvas></div>
       </tab>
    <tab heading="2018" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatChart[3],'Monthly Frequency of Human-Wildlife Conflict Incidents by HWC Category(2018)')">Download</button>
      <div class="hi"><canvas  id="b3"></canvas></div>
     </tab>
     <tab heading="2017" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatChart[2],'Monthly Frequency of Human-Wildlife Conflict Incidents by HWC Category(2017)')">Download</button>
      <div class="hi"><canvas  id="b2"></canvas></div>
     </tab>
     <tab heading="2016" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatChart[1],'Monthly Frequency of Human-Wildlife Conflict Incidents by HWC Category(2016)')">Download</button>
      <div class="hi"><canvas  id="b1"></canvas></div>
  </tab>
    <tab heading="2015" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barCatChart[0],'Monthly Frequency of Human-Wildlife Conflict Incidents by HWC Category(2015)')">Download</button>
       <div class="hi"><canvas id="b0"></canvas></div>
    </tab>
  </tabset>

 </div>

 <div class="card" *ngIf="!showMainContent">
  <div class="card-header">
    Top 10 Villages(All Cases)
  </div>
  <div class="card-body h1 p-1">
    <!-- <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(_data, 'All Villages(All Cases)')">
                  Export
                </div> -->
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barVil,'Top 10 Villages(All Cases)')">Download</button>
  <div class="hi"><canvas id="barVil">{{barVil}}</canvas></div>
</div>
 </div>

 <div class="card" *ngIf="!showMainContent">
  <div class="card-header">
    Top 10 Villages(By Category)
  </div>

  <tabset>
    <tab heading="Crop Loss" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barVilCat[0],'Top 10 Villages(Crop Loss)')">Download</button>
      <div class="hi"><canvas  id="cat1"></canvas></div>
     </tab>
     <tab heading="Crop & Property Loss" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barVilCat[1],'Top 10 Villages(Crop & Property Loss)')">Download</button>
      <div class="hi"><canvas  id="cat2"></canvas></div>
     </tab>
     <tab heading="Property Loss" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barVilCat[2],'Top 10 Villages(Property Loss)')">Download</button>
      <div class="hi"><canvas  id="cat3"></canvas></div>
    </tab>
    <tab heading="Livestock Predation" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barVilCat[3],'Top 10 Villages(Livestock Predation)')">Download</button>
      <div class="hi"><canvas id="cat4"></canvas></div>
    </tab>
    <tab heading="Human Injury" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barVilCat[4],'Top 10 Villages(Human Injury)')">Download</button>
      <div class="hi"><canvas id="cat5"></canvas></div>
   </tab>
   <tab heading="Human Death" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barVilCat[5],'Top 10 Villages(Human Deaths)')">Download</button>
    <div class="hi"><canvas id="cat6"></canvas></div>
 </tab>
  </tabset>
  <!-- <div class="hi"><canvas id="barVil"></canvas></div> -->

 </div>

 <div class="card" *ngIf="!showMainContent">
  <div class="card-header" >
      Number of cases in each Year by Range
  </div>

<tabset>
    <tab heading="2019" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barRange[4],'Frequency of cases by Range(2019)')">Download</button>
         <div class="hi"><canvas  id="barRange4"></canvas></div>
        </tab>
    <tab heading="2018" class="h1">
    <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barRange[3],'Frequency of cases by Range(2018)')">Download</button>
    <!-- <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataRangeByFd, 'Frequency_of_Human-Wildlife_Conflict_Incidents_By_date_Occurance_By_Range')">
                  Export
                </div> -->
     <div class="hi"><canvas  id="barRange3"></canvas></div>
    </tab>
    <tab heading="2017" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barRange[2],'Frequency of cases by Range(2017)')">Download</button>
      <div class="hi"><canvas  id="barRange2"></canvas></div>
    </tab>
    <tab heading="2016" class="h1">
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barRange[1],'Frequency of cases by Range(2016)')">Download</button>
      <div class="hi"><canvas  id="barRange1"></canvas></div>
 </tab>
  <tab heading="2015" class="h1">
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barRange[0],'Frequency of cases by Range(2015)')">Download</button>
     <div class="hi"><canvas id="barRange0"></canvas></div>
  </tab>
</tabset>

</div>

<div class="card" *ngIf="!showMainContent">
  <div class="card-header c4">
    Overall Compensation
  </div>
  <div class="card-body">
    <div>
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(allcompomdata, 'Total_Compensation')">
            Export
          </div>
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th  *ngFor="let col of allcompcol">
            {{col}}
          </th>
        </tr>
        <tr class="table-warning"*ngFor="let col of allcompomdata">
          <td>{{col.Total_Com_Frequency}}</td>
          <td>{{col.Total_Com_Amt}}</td>
          <td>{{col.Average_Com_Amt}}</td>
          <td>{{col.Max_Com_Amt}}</td>
          <td>{{col.Min_Com_Amt}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="card" *ngIf="showMainContent">
  <div class="card-header c4">
    Overall Compensation By Date
  </div>
  <div class="card-body">
    <div>
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(allcompomdatabydate, 'Total_Compensation_By_Date')">
            Export
          </div>
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th  *ngFor="let col of allcompcolbydate">
            {{col}}
          </th>
        </tr>
        <tr class="table-warning"*ngFor="let col of allcompomdatabydate">
          <td>{{col.Total_Com_Frequency}}</td>
          <td>{{col.Total_Com_Amt}}</td>
          <td>{{col.Average_Com_Amt}}</td>
          <td>{{col.Max_Com_Amt}}</td>
          <td>{{col.Min_Com_Amt}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="card" *ngIf="showMainContent">
  <div class="card-header c4">
    Overall Compensation By Category
  </div>
  <div class="card-body">
    <div>
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(allcompomdatabycat, 'Total_Compensation_By_Category')">
            Export
          </div>
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th  *ngFor="let col of allcompcolbycat">
            {{col}}
          </th>
        </tr>
        <tr class="table-warning"*ngFor="let col of allcompomdatabycat">
          <td>{{col.HWC_Category}}</td>
          <td>{{col.Comp_Frequency}}</td>
          <td>{{col.Comp_Amt}}</td>
          <td>{{col.Average_Comp_Amt}}</td>
          <td>{{col.Max_Comp_Amt}}</td>
          <td>{{col.Min_Comp_Amt}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="card" *ngIf="showMainContent">
  <div class="card-header c4">
    Total Compensation By Processed Days
  </div>
  <div class="card-body">
    <div>
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(allcompomdatabydays, 'Total_Compensation_By_Processed_Days')">
            Export
          </div>
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th  *ngFor="let col of allcompcolbydays">
            {{col}}
          </th>
        </tr>
        <tr class="table-warning" *ngFor="let col of allcompomdatabydays | paginate: { itemsPerPage: 7, currentPage: allcompdays, id: 'secondcompdays'}">
          <td>{{col.OM_SHEET}}</td>
          <td>{{col.UPLOADED_DATE}}</td>
          <td>{{col.HWC_DATE}}</td>
          <td>{{col.COMPENSATION_DAYS}}</td>
        </tr>
      </table>
      <div class="float-right">
        <pagination-controls  (pageChange)="allcompdays = $event" id="secondcompdays"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="showMainContent">
  <div class="card-header c4">
    Compensation By Total Processed Days
  </div>
  <div class="card-body">
    <div>
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(allcompomdatabyalldays, 'Compensation_By_Total_Processed_Days')">
            Export
          </div>
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th  *ngFor="let col of allcompcolbyalldays">
            {{col}}
          </th>
        </tr>
        <tr class="table-warning" *ngFor="let col of allcompomdatabyalldays | paginate: { itemsPerPage: 7, currentPage: allcomp, id: 'secondcomp'}">
          <td>{{col.OM_SHEET}}</td>
          <td>{{col.NO_OF_SHEET}}</td>
          <td>{{col.COMPENSATION_DAYS}}</td>
          <td>{{col.COMPENSATION_AVERAGE}}</td>
        </tr>
      </table>
      <div class="float-right">
        <pagination-controls  (pageChange)="allcomp = $event" id="secondcomp"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="!showMainContent">
  <div class="card-header c4">
    Compensation By ProjectYear By Sheet
  </div>
  <div class="card-body">
    <div>
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(allcompomdatabyprojsheet, 'Compensation_ByProjectYear_BYSheet')">
            Export
          </div>
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th  *ngFor="let col of allcompcolbyprojsheet">
            {{col}}
          </th>
        </tr>
        <tr class="table-warning"*ngFor="let col of allcompomdatabyprojsheet">
          <td>{{col.Total_Com_Frequency}}</td>
          <td>{{col.Total_Com_Amt}}</td>
          <td>{{col.Average_Com_Amt}}</td>
          <td>{{col.Max_Com_Amt}}</td>
          <td>{{col.Min_Com_Amt}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="card" *ngIf="showMainContent">
    <div class="card-header">
        Compensation Total Processed Days By Category
    </div>
   <tabset>
     <tab heading="CR">
      <div>
        <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of crcoldata" [hidden]="!crprocesscol">{{ col }}</th>
        </tr>
        <div *ngIf="crprocesscol === undefined">No Data To Display</div>
        <tr *ngFor=" let col of crprocesscol | paginate: { itemsPerPage: 7, currentPage: crproc, id: 'seventhcrproc'} ">
          <td>{{ col.HWC_CATEGORY }}</td>
          <td>{{ col.OM_SHEET }}</td>
          <td>{{ col.NO_OF_SHEET }}</td>
          <td>{{ col.COMPENSATION_DAYS }}</td>
          <td>{{ col.COMPENSATION_AVERAGE }}</td>
        </tr>
      </table>
      <div class="float-right">
          <pagination-controls (pageChange)="crproc = $event" id="seventhcrproc"></pagination-controls>
        </div>
      </div>
     </tab>
     <tab heading="CRPD">
        <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of crcoldata" [hidden]="!crpdprocesscol">{{ col }}</th>
        </tr>
        <div *ngIf="crpdprocesscol === undefined">No Data To Display</div>
        <tr *ngFor=" let col of crpdprocesscol | paginate: { itemsPerPage: 7, currentPage: crpdproc, id: 'seventhcrpdproc'} ">
          <td>{{ col.HWC_CATEGORY }}</td>
          <td>{{ col.OM_SHEET }}</td>
          <td>{{ col.NO_OF_SHEET }}</td>
          <td>{{ col.COMPENSATION_DAYS }}</td>
          <td>{{ col.COMPENSATION_AVERAGE }}</td>
        </tr>
      </table>
      <div class="float-right">
          <pagination-controls (pageChange)="crpdproc = $event" id="seventhcrpdproc"></pagination-controls>
        </div>
        
     </tab>
     <tab heading="PD">
        <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of crcoldata" [hidden]="!pdprocesscol">{{ col }}</th>
        </tr>
        <div *ngIf="pdprocesscol === undefined">No Data To Display</div>
        <tr *ngFor=" let col of pdprocesscol | paginate: { itemsPerPage: 7, currentPage: pdproc, id: 'seventhpdproc'} ">
          <td>{{ col.HWC_CATEGORY }}</td>
          <td>{{ col.OM_SHEET }}</td>
          <td>{{ col.NO_OF_SHEET }}</td>
          <td>{{ col.COMPENSATION_DAYS }}</td>
          <td>{{ col.COMPENSATION_AVERAGE }}</td>
        </tr>
      </table>
      <div class="float-right">
          <pagination-controls (pageChange)="pdproc = $event" id="seventhpdproc"></pagination-controls>
        </div>
    
   </tab>
   <tab heading="LP">
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of crcoldata" [hidden]="!lpprocesscol">{{ col }}</th>
        </tr>
        <div *ngIf="lpprocesscol === undefined">No Data To Display</div>
        <tr *ngFor=" let col of lpprocesscol | paginate: { itemsPerPage: 7, currentPage: lpproc, id: 'seventhlpproc'} ">
          <td>{{ col.HWC_CATEGORY }}</td>
          <td>{{ col.OM_SHEET }}</td>
          <td>{{ col.NO_OF_SHEET }}</td>
          <td>{{ col.COMPENSATION_DAYS }}</td>
          <td>{{ col.COMPENSATION_AVERAGE }}</td>
        </tr>
      </table>
      <div class="float-right">
          <pagination-controls (pageChange)="lpproc = $event" id="seventhlpproc"></pagination-controls>
        </div>
   
  </tab>
  <tab heading="HI">
   
    <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of crcoldata" [hidden]="!hiprocesscol">{{ col }}</th>
        </tr>
        <div *ngIf="hiprocesscol === undefined">No Data To Display</div>
        <tr *ngFor=" let col of hiprocesscol | paginate: { itemsPerPage: 7, currentPage: hiproc, id: 'seventhhiproc'} ">
          <td>{{ col.HWC_CATEGORY }}</td>
          <td>{{ col.OM_SHEET }}</td>
          <td>{{ col.NO_OF_SHEET }}</td>
          <td>{{ col.COMPENSATION_DAYS }}</td>
          <td>{{ col.COMPENSATION_AVERAGE }}</td>
        </tr>
      </table>
      <div class="float-right">
          <pagination-controls (pageChange)="hiproc = $event" id="seventhhiproc"></pagination-controls>
        </div>
  </tab>
  <tab heading="HD">
    <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of crcoldata" [hidden]="!hdprocesscol">{{ col }}</th>
        </tr>
         <div *ngIf="hdprocesscol === undefined">No Data To Display</div>
        <tr *ngFor=" let col of hdprocesscol | paginate: { itemsPerPage: 7, currentPage: hdproc, id: 'seventhhdproc'} ">
          <td>{{ col.HWC_CATEGORY }}</td>
          <td>{{ col.OM_SHEET }}</td>
          <td>{{ col.NO_OF_SHEET }}</td>
          <td>{{ col.COMPENSATION_DAYS }}</td>
          <td>{{ col.COMPENSATION_AVERAGE }}</td>
        </tr>
      </table>
      <div class="float-right">
          <pagination-controls (pageChange)="hdproc = $event" id="seventhhdproc"></pagination-controls>
        </div>
  </tab>
   </tabset>
   </div>

 <!-- <div class="col-lg-6">
  <div class="card">
    <div class="card-header">Frequency of cases attended by date(HWC Date)</div>
    <div class="card-body">
    <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(topVillagesArr[0], 'HWC_Date_Freq(HWC)')">
      Export
      </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol1">{{ col }}</th>
        </tr>
        <tr
          *ngFor="
            let col of topVillagesArr[0]

          "
        >
          <td>{{ col.VILLAGE }}</td>
          <td>{{ col.FREQS }}</td>
          <td>{{ col.HWC_CASE_CATEGORY }}</td>
        </tr>
      </table>

    </div>
  </div>
</div> -->

<!--
<div class="row">
  <div class="col-md-6 mx-0 ">
    <div class="card">
      <div class="card-header c3">
        Daily Count(Previous Day)
        <div class="card-header-actions">

        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" id="ctx">{{ barChart }}</canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mx-0 ">
    <div class="card">
      <div class="card-header c4">
        Total Cases
      </div>
      <div class="card-body">
        <div>
          <table class="table table-bordered">
            <tr>
              <th *ngFor="let col of displayedCol">
                {{col}}
              </th>
            </tr>
            <tr *ngFor="let col of dataSource">
              <td>{{col.YEAR}}</td>
              <td>{{col.NH_CASES}}</td>
              <td>{{col.BP_CASE}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>
 -->



<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <agm-map [latitude]="12.9616883000" [longitude]="77.6017112000" [zoom]="20" (mapClick)="mapClicked($event)"> -->
        <!-- <agm-marker-cluster imagePath="'https://googlemaps.github.io/js-marker-clusterer/images/m'"> -->
        <!-- <agm-marker *ngFor="let m of markers; let i = index"  [latitude]="m.lat" -->
          <!-- [longitude]="m.lng"> -->
          <!-- <agm-info-window>
                  <strong>{{m.name}}</strong>
                </agm-info-window> -->
           <!-- Example kml file (markerClick)="clickedMarker(m, i)" "http://code.google.com/apis/kml/documentation/KML_Samples.kml" -->
        <!-- </agm-marker> -->
        <!-- url=https://raw.githubusercontent.com/swatikumari/coreui/master/src/assets/HWC_export_1542536403219.kml -->
        <!-- <agm-kml-layer url="https://raw.githubusercontent.com/swatikumari/coreui/master/src/assets/HWC_export.kml" [suppressInfoWindows]="true" [zIndex]="1000"></agm-kml-layer> -->
        <!-- <agm-kml-layer url="https://raw.githubusercontent.com/swatikumari/coreui/master/src/assets/rungis-desc%20(1).kml"
          [clickable]="true" [suppressInfoWindows]="true"></agm-kml-layer> -->
      <!-- </agm-map> -->

    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

