
table{
  width: 100%;
  max-height: 320px;
}

.card{
  width: 100%;
}

.h1{
  height: 340px;
}

.g1{
  width: 100%;
}

.hi{
  height: 320px;
}

.card-header {
  background-color: rgb(14, 206, 14);
}


td, th {
  text-align: center;
  border: 1px solid black;
}

th{
  background-color: darkkhaki
}
td{
  background-color: oldlace;
}
