<!--
  <ng4-loading-spinner [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>
-->
<!-- <section> -->
<app-date-picker (submit)="onSubmit($event)" *ngIf="showMainContent"></app-date-picker>
<!--
  <div class="row">
  <div class="col-md-6">
    <app-chart-types [chartId]="'block1CanvasId'" [chartType]="'line'" [chartLabels]='block1Labels' [chartHeaderText]='block1HeaderText' [resultSet]='block1RresultSet'></app-chart-types>
  </div>
  <div class="col-md-6">
    <app-chart-types [chartId]="'hwcVillageCanvasId'" [chartType]="'bar'" [chartLabels]='hwcVillageLabels' [chartHeaderText]='hwcVillageHeaderText' [resultSet]='hwcVillageResultSet'></app-chart-types>
  </div>
  </div>
  <div class="row" [hidden]="!toShow">
  <div class="col-md-6">
      <app-chart-types [chartId]="'hwcCaseByHwcDateCanvasId'" [chartType]="'bar'" [chartLabels]='hwcCaseByHwcDateLabels' [chartHeaderText]='hwcCaseByHwcDateHeaderText' [resultSet]='hwcCasesByHwcDateResultSet'></app-chart-types>
  </div>
  <div class="col-md-6">
       <app-chart-types [chartId]="'hwcCaseByFDSubDateCanvasId'" [chartType]="'bar'" [chartLabels]='hwcCaseByFDSubDateLabels' [chartHeaderText]='hwcCaseByFDSubDateHeaderText' [resultSet]='hwcCasesByFDSubDateResultSet'></app-chart-types>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <app-chart-types [chartId]="'block2TotalCasesByYearMonthCanvasId'" [chartType]="'bar'" [chartLabels]='block2TotalCasesByYearMonthLabels' [chartHeaderText]='block2TotalCasesByYearMonthHeaderText' [resultSet]='block2TotalCasesByYearMonthResultSet'></app-chart-types>
    </div>
    <div class="col-md-6">
         <app-chart-types [chartId]="'block2Top20CasesByCatCanvasId'" [chartType]="'bar'" [chartLabels]='block2Top20CasesByCatLabels' [chartHeaderText]='block2Top20CasesByCatHeaderText' [resultSet]='block2Top20CasesByCatResultSet'></app-chart-types>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <app-chart-types [chartId]="'block2Top50CasesByWsidCanvasId'" [chartType]="'bar'" [chartLabels]='block2Top50CasesByWsidLabels' [chartHeaderText]='block2Top50CasesByWsidHeaderText' [resultSet]='block2Top50CasesByWsidResultSet'></app-chart-types>
      </div>
      <div class="col-md-6">
           <app-chart-types [chartId]="'block3TopCasesByCropCanvasId'" [chartType]="'bar'" [chartLabels]='block3TopCasesByCropLabels' [chartHeaderText]="block3TopCasesByCropHeaderText" [resultSet]='block3TopCasesByCropResultSet'></app-chart-types>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-chart-types [chartId]="'block3TopCasesByPropertyCanvasId'" [chartType]="'bar'" [chartLabels]='block3TopCasesByPropertyLabels' [chartHeaderText]="block3TopCasesByPropertyHeaderText" [resultSet]='block3TopCasesByPropertyResultSet'></app-chart-types>
      </div>
      <div class="col-md-6">
           <app-chart-types [chartId]="'block3TopCasesByLivestockCanvasId'" [chartType]="'bar'" [chartLabels]='block3TopCasesByLivestockLabels' [chartHeaderText]="block3TopCasesByLivestockHeaderText" [resultSet]='block3TopCasesByLivestockResultSet'></app-chart-types>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-chart-types [chartId]="'block3TopCasesByVillageCanvasId'" [chartType]="'bar'" [chartLabels]='block3TopCasesByVillageLabels' [chartHeaderText]="block3TopCasesByVillageHeaderText" [resultSet]='block3TopCasesByVillageResultSet'></app-chart-types>
      </div>
      <div class="col-md-6">
           <app-chart-types [chartId]="'block2ByFaDateFreqCanvasId'" [chartType]="'bar'" [chartLabels]='block2ByFaDateFreqLabels' [chartHeaderText]="block2ByFaDateFreqHeaderText" [resultSet]='block2ByFaDateFreqResultSet'></app-chart-types>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-chart-types [chartId]="'block2ByHwcDateFreqCanvasId'" [chartType]="'bar'" [chartLabels]='block2ByHwcDateFreqLabels' [chartHeaderText]="block2ByHwcDateFreqHeaderText" [resultSet]='block2ByHwcDateFreqResultSet'></app-chart-types>
      </div>
      <div class="col-md-6">
           <app-chart-types [chartId]="'block2ByFaDateFreqCanvasId'" [chartType]="'bar'" [chartLabels]='block2ByFaDateFreqLabels' [chartHeaderText]="block2ByFaDateFreqHeaderText" [resultSet]='block2ByFaDateFreqResultSet'></app-chart-types>
      </div>
    </div>
  </section>
-->
<!--
  <div class="container mx-o px-0">
  <div class="card ">
    <div class="card-header c2">
      Frequency of cases By {{chartType}}
      <div class="card-header-actions">
        <div class="row">
          <div class="radio">
            <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="Category">category &nbsp;</label>
          </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="Animal">animal &nbsp;</label>
          </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="Park">park &nbsp;</label>
          </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="Taluk">taluk &nbsp;</label>
          </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="Range">range &nbsp;</label>
          </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="chartType" name="chartType" value="Village">village &nbsp;</label>
          </div>
        </div>
      </div>
    </div>
      <div class="card-body">
        <div class="chart-wrapper" [hidden]="chartType !== 'Category'">
          <canvas id="category"></canvas>
        </div>
        <div class="chart-wrapper" [hidden]="chartType !== 'Animal'">
          <canvas id="animal"></canvas>
        </div>
        <div class="chart-wrapper" [hidden]="chartType !== 'Park'">
          <canvas id="park"></canvas>
        </div>
        <div class="chart-wrapper" [hidden]="chartType !== 'Taluk'">
          <canvas id="taluk"></canvas>
        </div>
        <div class="chart-wrapper" [hidden]="chartType !== 'Range'">
          <canvas id="range"></canvas>
        </div>
        <div class="chart-wrapper" [hidden]="chartType !== 'Village'">
          <canvas id="village"></canvas>
        </div>
      </div>
    </div>
    </div>
-->

<button (click)="showHideButton()">click </button>

<div class="card" *ngIf="!showMainContent">
  <!-- Nav tabs -->
  <div class="card-header">Frequency of cases </div>
  <div class="card-body">
    <tabset>
      <tab heading="Category" class="h1">
        <div class="hi"><canvas id="category"></canvas></div>
      </tab>
      <tab heading="Animal" class="h1">
        <div class="hi"><canvas id="animal"></canvas></div>
      </tab>
      <tab heading="Park" class="h1">
        <div class="hi"><canvas id="park"></canvas></div>
      </tab>
      <tab heading="Taluk" class="h1">
        <div class="hi"><canvas id="taluk"></canvas></div>
      </tab>
      <tab heading="HWC Range" class="h1">
        <div class="hi"><canvas id="range"></canvas></div>
      </tab>
      <tab heading="Village" class="h1">
        <div class="hi"><canvas id="village"></canvas></div>
      </tab>
    </tabset>
  </div>
</div>

<div class="card" *ngIf="showMainContent">
  <!-- Nav tabs -->
  <div class="card-header">Frequency of Cases By HWC Date </div>
  <div class="card-body">
    <tabset>
      <tab heading="Category" class="h1">
        <div class="hi"><canvas id="categorybyhwc"></canvas></div>
      </tab>
      <tab heading="Animal" class="h1">
        <div class="hi"><canvas id="animalbyhwc"></canvas></div>
      </tab>
      <tab heading="Park" class="h1">
        <div class="hi"><canvas id="parkbyhwc"></canvas></div>
      </tab>
      <tab heading="Taluk" class="h1">
        <div class="hi"><canvas id="talukbyhwc"></canvas></div>
      </tab>
      <tab heading="HWC Range" class="h1">
        <div class="hi"><canvas id="rangebyhwc"></canvas></div>
      </tab>
      <tab heading="Village" class="h1">
        <div class="hi"><canvas id="villagebyhwc"></canvas></div>
      </tab>
    </tabset>
  </div>
</div>

<div class="card" *ngIf="showMainContent">
  <!-- Nav tabs -->
  <div class="card-header">Frequency of Cases By FD Submission Date</div>
  <div class="card-body">
    <tabset>
      <tab heading="Category" class="h1">
        <div class="hi"><canvas id="catfd"></canvas></div>
      </tab>
      <tab heading="Animal" class="h1">
        <div class="hi"><canvas id="animalfd"></canvas></div>
      </tab>
      <tab heading="Park" class="h1">
        <div class="hi"><canvas id="parkfd"></canvas></div>
      </tab>
      <tab heading="Taluk" class="h1">
        <div class="hi"><canvas id="talukfd"></canvas></div>
      </tab>
      <tab heading="HWC Range" class="h1">
        <div class="hi"><canvas id="rangefd"></canvas></div>
      </tab>
      <tab heading="Village" class="h1">
        <div class="hi"><canvas id="villagefd"></canvas></div>
      </tab>
    </tabset>
  </div>
</div>

<!--
<div class="card">

  <div class="card-header">Frequency of cases </div>
  <div class="card-body">
    <tabset>
      <tab heading="Category" class="h1">
        <div class="hi"><canvas id="category"></canvas></div>
      </tab>
      <tab heading="Animal" class="h1">
        <div class="hi"><canvas id="animal"></canvas></div>
      </tab>
      <tab heading="Park" class="h1">
        <div class="hi"><canvas id="park"></canvas></div>
      </tab>
      <tab heading="Taluk" class="h1">
        <div class="hi"><canvas id="taluk"></canvas></div>
      </tab>
      <tab heading="HWC Range" class="h1">
        <div class="hi"><canvas id="range"></canvas></div>
      </tab>
      <tab heading="Village" class="h1">
        <div class="hi"><canvas id="village"></canvas></div>
      </tab>
    </tabset>
  </div>
</div>
 -->


<div class="row" *ngIf="showMainContent">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Frequency of cases attended by date(HWC Date)</div>
      <div class="card-body">
      <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'HWC_Date_Freq(HWC)')">
        Export
        </div>
        <table class="table table-bordered">
          <tr>
            <th *ngFor="let col of displayedCol7">{{ col }}</th>
          </tr>
          <tr
            *ngFor="
              let col of col7
                | paginate: { itemsPerPage: 8, currentPage: p7, id: 'seven' }
            "
          >
            <td>{{ col.HWC_DATE }}</td>
            <td>{{ col.DATE_FREQ }}</td>
          </tr>
        </table>

        <div class="float-right">
          <pagination-controls
            (pageChange)="p7 = $event"
            id="seven"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Frequency of cases attended by date(FDSubDate)</div>

    <div class="card-body">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'FA_Date_Freq(HWC)')">
          Export
        </div>
    <table class="table table-bordered">
      <tr>
        <th *ngFor="let col of displayedCol8">{{ col }}</th>
      </tr>
      <tr
        *ngFor="
          let col of col8
            | paginate: { itemsPerPage: 8, currentPage: p8, id: 'eight' }
        "
      >
        <td>{{ col.FA_DATE }}</td>
        <td>{{ col.DATE_FREQ }}</td>
      </tr>
    </table>

    <div class="float-right">
      <pagination-controls
        (pageChange)="p8 = $event"
        id="eight"
      ></pagination-controls>
    </div>
  </div>
  </div>
</div>
</div>

<div class="row" *ngIf="!showMainContent">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Frequency of cases by Year and Moth</div>
      <div class="card-body">
      <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_50_Cases_By_Year_Month(HWC)')">
        Export
        </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol0">{{ col }}</th>
        </tr>
        <tr
          *ngFor="
            let col of col0
              | paginate: { itemsPerPage: 8, currentPage: p1, id: 'first' }
          "
        >
          <td>{{ col.YEAR }}</td>
          <td>{{ col.MONTH }}</td>
          <td>{{ col.TOTAL_CASES }}</td>
        </tr>
      </table>

      <div class="float-right">
        <pagination-controls
          (pageChange)="p1 = $event"
          id="first"
        ></pagination-controls>
      </div>
    </div>
  </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Top 20 WSIDs per HWC Category</div>
      <div class="card-body">
      <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_20_Cases_By_Category(HWC)')">
        Export
        </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol1">{{ col }}</th>
        </tr>
        <tr
          *ngFor="
            let col of col1
              | paginate: { itemsPerPage: 8, currentPage: p2, id: 'second' }
          "
        >
          <td>{{ col.HWC_WSID }}</td>
          <td>{{ col.HWC_CASE_CATEGORY }}</td>
          <td>{{ col.CASES }}</td>
        </tr>
      </table>

      <div class="float-right">
        <pagination-controls
          (pageChange)="p2 = $event"
          id="second"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row" *ngIf="!showMainContent">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Top 50 WSIDs for cases</div>
      <div class="card-body">
      <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_50_Cases_By_HWC_ID(HWC)')">
          Export
        </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol2">{{ col }}</th>
        </tr>
        <tr
          *ngFor="
            let col of col2
              | paginate: { itemsPerPage: 11, currentPage: p3, id: 'third' }
          "
        >
          <td>{{ col.HWC_WSID }}</td>
          <td>{{ col.CASES }}</td>
        </tr>
      </table>

      <div class="float-right">
        <pagination-controls
          (pageChange)="p3 = $event"
          id="third"
        ></pagination-controls>
      </div>
    </div>
  </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Top Cases</div>
      <tabset>
        <tab heading="Crop" class="g1">
            <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col3, 'Top_Cases_Crop(HWC)')">
                Export
              </div>
          <table class="table table-bordered">
            <tr>
              <th *ngFor="let col of displayedCol3">{{ col }}</th>
            </tr>
            <tr
              *ngFor="
                let col of col3

              "
            >
              <td>{{ col.CROP_NAME }}</td>
              <td>{{ col.CROP_FREQ }}</td>
            </tr>
          </table>


        </tab>
        <tab heading="Property" class="g1">
            <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col4, 'Top_Cases_Property(HWC)')">
                Export
              </div>
          <table class="table table-bordered">
            <tr>
              <th *ngFor="let col of displayedCol4">{{ col }}</th>
            </tr>
            <tr
              *ngFor="
                let col of col4

              "
            >
              <td>{{ col.PROPERTY_NAME }}</td>
              <td>{{ col.PROPERTY_FREQ }}</td>
            </tr>
          </table>


        </tab>
        <tab heading="Livestock">
            <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col5, 'Top_Cases_Livestock(HWC)')">
                Export
              </div>
          <table class="table table-bordered">
            <tr>
              <th *ngFor="let col of displayedCol5">{{ col }}</th>
            </tr>
            <tr
              *ngFor="
                let col of col5
              "
            >
              <td>{{ col.LIVESTOCK_NAME }}</td>
              <td>{{ col.LIVESTOCK_FREQ }}</td>
            </tr>
          </table>


        </tab>
        <tab heading="Village">
            <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col6, 'Top_Cases_Village(HWC)')">
                Export
              </div>
          <table class="table table-bordered">
            <tr>
              <th *ngFor="let col of displayedCol6">{{ col }}</th>
            </tr>
            <tr
              *ngFor="
                let col of col6
                  | paginate
                    : { itemsPerPage: 10, currentPage: p9, id: 'seventh' }
              "
            >
              <td>{{ col.VILLAGE_NAME }}</td>
              <td>{{ col.VILLAGE_FREQ }}</td>
            </tr>
          </table>

          <div >
            <pagination-controls
              (pageChange)="p9 = $event"
              id="seventh"
            ></pagination-controls>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-header">Frequency of cases by Year and Moth</div>
    <div class="card-body">

  </div>
</div>
</div>

<div class="col-sm-6">
<div class="card">
<tabset>
  <tab heading = "CR">
    <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_50_Cases_By_Year_Month(HWC)')">
      Export
      </div>
    <table class="table table-bordered">
      <tr>
        <th *ngFor="let col of displayedCol33">{{ col }}</th>
      </tr>
      <tr
        *ngFor="
          let col of data33[0]
            | paginate: { itemsPerPage: 10, currentPage: p331, id: 'thirty1' }
        "
      >
        <td>{{ col.HWC_VILLAGE_NAME }}</td>
        <td>{{ col.INCIDENT }}</td>
        <td>{{ col.HWC_CASE_CATEGORY }}</td>
      </tr>
    </table>

    <div class="float-right">
      <pagination-controls
        (pageChange)="p331 = $event"
        id="thirty1"
      ></pagination-controls>
    </div>
  </tab>
  <tab heading = "CRPD">
    <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_50_Cases_By_Year_Month(HWC)')">
      Export
      </div>
    <table class="table table-bordered">
      <tr>
        <th *ngFor="let col of displayedCol33">{{ col }}</th>
      </tr>
      <tr
        *ngFor="
          let col of data33[1]
            | paginate: { itemsPerPage: 10, currentPage: p332, id: 'thirty2' }
        "
      >
        <td>{{ col.HWC_VILLAGE_NAME }}</td>
        <td>{{ col.INCIDENT }}</td>
        <td>{{ col.HWC_CASE_CATEGORY }}</td>
      </tr>
    </table>

    <div class="float-right">
      <pagination-controls
        (pageChange)="p332 = $event"
        id="thirty2"
      ></pagination-controls>
    </div>
  </tab>
  <tab heading = "PD">
    <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_50_Cases_By_Year_Month(HWC)')">
      Export
      </div>
    <table class="table table-bordered">
      <tr>
        <th *ngFor="let col of displayedCol33">{{ col }}</th>
      </tr>
      <tr
        *ngFor="
          let col of data33[2]
            | paginate: { itemsPerPage: 10, currentPage: p333, id: 'thirty3' }
        "
      >
        <td>{{ col.HWC_VILLAGE_NAME }}</td>
        <td>{{ col.INCIDENT }}</td>
        <td>{{ col.HWC_CASE_CATEGORY }}</td>
      </tr>
    </table>

    <div class="float-right">
      <pagination-controls
        (pageChange)="p333 = $event"
        id="thirty3"
      ></pagination-controls>
    </div>
  </tab>
  <tab heading = "LP">
    <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_50_Cases_By_Year_Month(HWC)')">
      Export
      </div>
    <table class="table table-bordered">
      <tr>
        <th *ngFor="let col of displayedCol33">{{ col }}</th>
      </tr>
      <tr
        *ngFor="
          let col of data33[3]
            | paginate: { itemsPerPage: 10, currentPage: p334, id: 'thirty4' }
        "
      >
        <td>{{ col.HWC_VILLAGE_NAME }}</td>
        <td>{{ col.INCIDENT }}</td>
        <td>{{ col.HWC_CASE_CATEGORY }}</td>
      </tr>
    </table>

    <div class="float-right">
      <pagination-controls
        (pageChange)="p334 = $event"
        id="thirty4"
      ></pagination-controls>
    </div>
  </tab>
  <tab heading = "HI">
    <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_50_Cases_By_Year_Month(HWC)')">
      Export
      </div>
    <table class="table table-bordered">
      <tr>
        <th *ngFor="let col of displayedCol33">{{ col }}</th>
      </tr>
      <tr
        *ngFor="
          let col of data33[4]
            | paginate: { itemsPerPage: 10, currentPage: p335, id: 'thirty5' }
        "
      >
        <td>{{ col.HWC_VILLAGE_NAME }}</td>
        <td>{{ col.INCIDENT }}</td>
        <td>{{ col.HWC_CASE_CATEGORY }}</td>
      </tr>
    </table>

    <div class="float-right">
      <pagination-controls
        (pageChange)="p335 = $event"
        id="thirty5"
      ></pagination-controls>
    </div>
  </tab>
  <tab heading="HD">
    <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(col2, 'Top_50_Cases_By_Year_Month(HWC)')">
      Export
      </div>
    <table class="table table-bordered">
      <tr>
        <th *ngFor="let col of displayedCol33">{{ col }}</th>
      </tr>
      <tr
        *ngFor="
          let col of data33[5]
            | paginate: { itemsPerPage: 10, currentPage: p336, id: 'thirty6' }
        "
      >
        <td>{{ col.HWC_VILLAGE_NAME }}</td>
        <td>{{ col.INCIDENT }}</td>
        <td>{{ col.HWC_CASE_CATEGORY }}</td>
      </tr>
    </table>

    <div class="float-right">
      <pagination-controls
        (pageChange)="p336 = $event"
        id="thirty6"
      ></pagination-controls>
    </div>
  </tab>
</tabset>
</div>
</div>
  <!-- <section>
  <div class="card">
    <div class="card-header">
      HWC
      <button mat-raised-button (click)="xlsxReport()" class="btn btn-primary float-right">Export to Excel</button>
      <button mat-raised-button (click)="kmlReport()" class="btn btn-primary float-right">Generate KML</button>
    </div>


    <div class="mat-elevation-z8 hwc">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="HWC_METAINSTANCE_ID">
          <mat-header-cell *matHeaderCellDef>HWC_ID</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.HWC_METAINSTANCE_ID}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="HWC_METASUBMISSION_DATE">
          <mat-header-cell *matHeaderCellDef>HWC_DATE</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.HWC_METASUBMISSION_DATE}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="HWC_FULL_NAME">
          <mat-header-cell *matHeaderCellDef>HWC_FULL_NAME</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.HWC_FULL_NAME}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="HWC_NEWPHONE_NUMBER">
          <mat-header-cell *matHeaderCellDef>PHONE_NUMBER</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.HWC_NEWPHONE_NUMBER}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="HWC_PARK_NAME">
          <mat-header-cell *matHeaderCellDef>HWC_PARK_NAME</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.HWC_PARK_NAME}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="HWC_TALUK_NAME">
          <mat-header-cell *matHeaderCellDef>HWC_TALUK_NAME</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.HWC_TALUK_NAME}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="HWC_VILLAGE_NAME">
          <mat-header-cell *matHeaderCellDef>HWC_VILLAGE_NAME</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.HWC_VILLAGE_NAME}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="HWC_ANIMAL">
          <mat-header-cell *matHeaderCellDef>HWC_ANIMAL</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.HWC_ANIMAL}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedCol; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedCol"></mat-row>
      </mat-table>
      <mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
    </div>
  </div>
  </section> -->

