
table{
  width: 100%;
  max-height: 320px;
}

.card{
  width: 100%;
}

.h1{
  height: 340px;
}

.g1{
  width: 100%;
}

.hi{
  height: 320px;
}

.c2 {
  background-color: rgb(14, 206, 14);
}

th, td {
  text-align: center;
}
