<ng4-loading-spinner [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>

<app-date-picker (submit)='onSubmit($event)'></app-date-picker>

<div class="card">
  <div class="card-header c4">
    Total Number of cases by {{tableType1}}
    <div class="card-header-actions">
      <div class="row">
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="Park">park &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="Catagory">hwc catagory &nbsp;</label>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="table-wrapper" [hidden]="tableType1 !== 'Park'">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource1, 'Total_case_by_park(DC)')">
            Export
          </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol1">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource1">
          <td>{{col.DC_TOTAL_CASES}}</td>
          <td>{{col.TOTAL_NH_CASES}}</td>
          <td>{{col.TOTAL_BP_CASES}}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper" [hidden]="tableType1 !== 'Catagory'">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource2, 'Total_case_by_hwc_cat(DC)')">
            Export
          </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol2">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource2">
          <td>{{col.CROP}}</td>
          <td>{{col.CROP_PROPERTY}}</td>
          <td>{{col.HUMAN_DEATH}}</td>
          <td>{{col.HUMAN_INJURY}}</td>
          <td>{{col.LIVESTOCK}}</td>
          <td>{{col.PROPERTY}}</td>
          <td>{{col.TOTAL}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header c4">
    Total Number of cases by HWC Catagory
  </div>
  <div class="card-body">

      <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource4, 'HWC_category')">
        Export
      </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol4">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource4 | paginate: { itemsPerPage: 8, currentPage: p4, id: 'fourth'}">
          <td>{{col.CROP}}</td>
          <td>{{col.CROP_PROPERTY}}</td>
          <td>{{col.FIELD_ASSISTANT}}</td>
          <td>{{col.HUMAN_DEATH}}</td>
          <td>{{col.HUMAN_INJURY}}</td>
          <td>{{col.LIVESTOCK}}</td>
          <td>{{col.PROPERTY}}</td>
          <td>{{col.TOTAL}}</td>
        </tr>
      </table>
      <div class="float-right">
          <pagination-controls (pageChange)="p4 = $event" id="fourth"></pagination-controls>
        </div>
    </div>
  </div>


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Total Number of cases by each Field Assistant
            </div>
            <div class="card-body">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource3, 'Field_Assistant')">
            Export
          </div>
          <table class="table table-bordered">
            <tr>
              <th *ngFor="let col of displayedCol3">
                {{col}}
              </th>
            </tr>
            <tr *ngFor="let col of dataSource3">
            <tr *ngFor="let col of dataSource3 | paginate: { itemsPerPage: 8, currentPage: p2, id: 'second'}">
                <td>{{col.FIELD_ASSISTANT}}</td>
              <td>{{col.TOTAL}}</td>
            </tr>
          </table>
          <div class="float-right">
              <pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls>
            </div>
        </div>
      </div>
      </div>
      <div class="col-lg-6">

        <div class="card">
            <div class="card-header">
              DC Cases By Frequency
            </div>
            <div class="card-body ">
                <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource4, 'HWC_category')">
                    Export
                  </div>
                  <table class="table table-bordered">
                    <tr>
                      <th *ngFor="let col of displayedCol5">
                        {{col}}
                      </th>
                    </tr>
                    <tr *ngFor="let col of val | paginate: { itemsPerPage: 8, currentPage: p1, id: 'first'}">
                      <td>{{col.CASE_DATE}}</td>
                      <td>{{col.DC_TOTAL_CASES}}</td>
                    </tr>
                  </table>
                  <div class="float-right">
                      <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
                    </div>
            </div>
          </div>
</div>
</div>
<div class="card ">
    <div class="card-header">
      DC Cases By Category
    </div>
    <div class="card-body h1">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(result, 'DC_Cases_By_category')">
            Export
          </div>
        <div class="chart-wrapper hi">
            <canvas baseChart class="chart" id="can">{{barChart}}</canvas>
          </div>
    </div>
  </div>






<!-- <div class="card">
  <div class="card-header">
    Daily Count
    <button mat-raised-button (click)="xlsxReport()" class="btn btn-primary pull-right">Export to Excel</button>
  </div>

  <div class="mat-elevation-z8 hwc">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="DC_METAINSTANCE_ID">
        <mat-header-cell *matHeaderCellDef>DC_METAINSTANCE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_METAINSTANCE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_DEVICE_ID">
        <mat-header-cell *matHeaderCellDef>DEVICE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_DEVICE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_SIMCARD_ID">
        <mat-header-cell *matHeaderCellDef>SIMCARD_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_SIMCARD_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_FA_ID">
        <mat-header-cell *matHeaderCellDef>DC_FA_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_FA_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_CASE_ID">
        <mat-header-cell *matHeaderCellDef>CASE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_CASE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_USER_NAME">
        <mat-header-cell *matHeaderCellDef>USERNAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_USER_NAME}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedCol"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div> -->
