.card {
  width: 30%;
  margin: 100px auto;
}

.card {
  background:rgb(46, 196, 182);

  /* border: transparent; */
}

/* .app-body {
  background-color: black !important;
  height: inherit;
} */



