

<div class="container">
  <div class="row">
    <div class="col-6 text-center">
        <button class="btn btn-primary float-right" (click)="showHideButton()">{{buttonName}} </button>
    </div>
    <div *ngIf="!showMainContent" class="col-6 text-center">
      <button class="btn btn-primary  float-right" (click)="exportdata()">Export All</button>
  </div>
  <div *ngIf="showMainContent" class="col-6 text-center">
      <button class="btn btn-primary float-right" (click)="exportdatadaterang()">Export All</button>
  </div>
  </div>
</div>

<!-- <app-date-picker (submit)='onSubmit($event)' ></app-date-picker> -->
<div class="card date card-block " *ngIf="showMainContent">
  <div class="card-body date-body">
    <form class="align-items-center d-flex justify-content-center" #form="ngForm" (submit)="onSubmit(fromDate, toDate)">
      <div class="form-group my-0">
        <label for="fromDate" for="toDate">From</label>

        <my-date-picker name="fromDate" [options]="myDatePickerOptions" [(ngModel)]="fromDate" required></my-date-picker>
        <!-- <span *ngIf="form.controls['fromDate'].errors?.required && form.controls['fromDate'].dirty">This field is required.</span> -->

      </div>
      <div class="col-sm-1">

      </div>
      <div class="form-group my-0" >
        <label for="toDate" for="toDate">To</label>
        <my-date-picker  name="toDate" [options]="myDatePickerOptions" [(ngModel)]="toDate" required></my-date-picker>
        <!-- <span *ngIf="form.controls['toDate'].errors?.required && form.controls['toDate'].dirty">This field is required.</span> -->
      </div>


        <!-- <label> </label> -->
        <div class="mt-4">
          <!-- <button mat-raised-button type="submit" class="btn btn-primary pull-right">Submit</button> -->
          <input [disabled]="!form.valid " class="btn btn-primary" type="submit" value="Submit" />
        </div>

    </form>
  </div>
</div>


<div class="card " *ngIf="showMainContent">
  <div class="card-header">
    Publicity by
  </div>
    <tabset>
      <tab heading="Village" class="h1">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(data1, 'Publicity_by_Villages')">
                  Export
                </div>
         <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barChart1,'Publicity by Villages')">Download</button>
          <div class="chart-wrapper hi">
              <canvas baseChart class="chart" id="village">{{barChart1}}</canvas>
            </div>
      </tab>
      <tab heading="Park" class="h1">
          <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(data2, 'Publicity_by_Villages')">
              Export
            </div>
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barChart2,'Publicity by Park')">Download</button>
          <div class="<ch></ch>art-wrapper hi">
              <canvas baseChart class="chart" id="park">{{barChart2}}</canvas>
            </div>
      </tab>
      <tab heading="Taluk" class="h1">
          <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(data3, 'Publicity_by_Villages')">
              Export
            </div>
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(barChart3,'Publicity by Taluk')">Download</button>
          <div class="chart-wrapper hi">
              <canvas baseChart class="chart" id="taluk">{{barChart3}}</canvas>
            </div>
      </tab>
    </tabset>

  </div>

  <div class="card" *ngIf="!showMainContent">
      <div class="card-header">
        Number of villages visited by each Field Assistant since start
      </div>
      <div class="card-body h1">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataPubFa, 'All_Publicity_Villages_By_Field_Assisstant')">
                  Export
                </div>
        <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(pubfachart,'All Publicity feild Assisstant')">Download</button>
       <!-- <button id="save">Save</button> -->
      <div class="hi"><canvas id="pubfa">{{pubfachart}}</canvas></div>
    </div>
     </div>
  <div class="card" *ngIf="!showMainContent">
    <div class="card-header">
     All Publicity Villages By Frequency
    </div>
    <div class="card-body h1">
      <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataPubFreq, 'All_Publicity_Villages_By_Frequency')">
                  Export
                </div>
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(pubfreqchart,'All Publicity Villages By frequency')">Download</button>
     <!-- <button id="save">Save</button> -->
    <div class="hi"><canvas id="pubvill">{{pubfreqchart}}</canvas></div>
  </div>
   </div>


<div class="container m-0 p-0">
<div class="col-md-6 ">
<div class="card">
  <div class="card-header c4">
    Publicity By
  </div>

    <tabset>
      <tab heading="Total Publicity">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource1, 'Total_Publicity')">
          Export
        </div>
        <table class="table table-bordered">
                <tr>
                  <th  *ngFor="let col of displayedCol1">
                    {{col}}
                  </th>
                </tr>
                <tr *ngFor="let col of dataSource1">
                  <td>{{col.TOTAL_VILLAGE}}</td>
                </tr>
              </table>

      </tab>
      <tab heading="Park">

  <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource3, 'Frequency of Villages Visited By Park')">
      Export
    </div>
            <table class="table table-bordered ">
              <tr>
                <th *ngFor="let col of displayedCol3">
                  {{col}}
                </th>
              </tr>
              <tr *ngFor="let col of dataSource3 | paginate: { itemsPerPage: 10, currentPage: p2, id: 'second'}">
                <td>{{col.PARK}}</td>
                <td>{{col.PARK_FREQ}}</td>
              </tr>
            </table>
            <div class="p1" *ngIf="length3 > 10 ">
                <pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls>
              </div>
          </tab>
      <tab heading="Taluk">
              <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource4, 'Frequency of Villages Visited By Taluk')">
                  Export
                </div>
            <table class="table table-bordered ">
                <tr>
                  <th *ngFor="let col of displayedCol4">
                    {{col}}
                  </th>
                </tr>
                <tr *ngFor="let col of dataSource4 | paginate: { itemsPerPage: 10, currentPage: p3, id: 'third'}">
                  <td>{{col.TALUK}}</td>
                  <td>{{col.TALUK_FREQ}}</td>
                </tr>
              </table>
              <div class="p1" *ngIf="length4 > 10 ">
                  <pagination-controls (pageChange)="p3 = $event" id="third"></pagination-controls>
                </div>
            </tab>
      <tab heading="Village">
          <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource2, 'Frequency of Villages Visited')">
              Export
            </div>
        <table class="table table-bordered">
          <tr>
            <th *ngFor="let col of displayedCol2">
              {{col}}
            </th>
          </tr>
          <tr *ngFor="let col of dataSource2 | paginate: { itemsPerPage: 10, currentPage: p1, id: 'first'}">
            <td>{{col.VILLAGE_NAME}}</td>
            <td>{{col.VILLAGE_FREQ}}</td>
          </tr>
        </table>
        <div class="p1" *ngIf="length2 > 10 ">
            <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
          </div>
      </tab>
    </tabset>





  </div>
</div>
</div>




   <div class="card" *ngIf="showMainContent">
    <div class="card-header">
      Frequency (over time) of villages visited in date range
    </div>
    <div class="card-body h1">
      <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataPubFreqByDate, 'All_Publicity_Villages_By_Frequency')">
                  Export
                </div>
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(pubfreqdatechart,'All Publicity Villages By Frequency By Date')">Download</button>
     <!-- <button id="save">Save</button> -->
    <div class="hi"><canvas id="pubfreqdate">{{pubfreqdatechart}}</canvas></div>
  </div>
   </div>
   <div class="card" *ngIf="showMainContent">
    <div class="card-header">
      Number of villages visited by each Field Assistant in date range
    </div>
    <div class="card-body h1">
      <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataPubFaByDate, 'All_Publicity_Villages_By_FA_Date')">
                  Export
                </div>
      <button class="btn btn-sm btn-pinterest float-right" (click)="downloadImage(pubfadatechart,'All Publicity Villages FA By date')">Download</button>
     <!-- <button id="save">Save</button> -->
    <div class="hi"><canvas id="pubfabydatechart">{{pubfadatechart}}</canvas></div>
  </div>
   </div>


<!--
<div class="card"  *ngIf="!showMainContent">
  <div  #mapElement style="height:300px;">

  </div>
</div> -->

<div class="card"  *ngIf="showMainContent">
    <div  #mapElementByDate style="height:300px;">

    </div>
  </div>









