<!-- <ng4-loading-spinner [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner> -->

<app-date-picker (submit)='onSubmit($event)'></app-date-picker>


<div class="card">
  <div class="card-header c4">
    Total Compensation
  </div>
  <div class="card-body">
    <div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol1">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource1">
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>



<div class="card">
  <div class="card-header c4">
    Compensation By
    <div class="card-header-actions">
      <div class="row">
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="catagory">catagory &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="park">park &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="taluk">taluk &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="village">village &nbsp;</label>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="table-wrapper" [hidden]="tableType1 !== 'catagory'">
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol2">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource2">
          <td>{{col.CATAGORY}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper" [hidden]="tableType1 !== 'park'">
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol3">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource3">
          <td>{{col.PARK}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper" [hidden]="tableType1 !== 'taluk'">
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol4">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource4">
          <td>{{col.TALUK}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper" [hidden]="tableType1 !== 'village'">
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol5">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource5">
          <td>{{col.VILLAGE}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>

  </div>
</div>



<div class="card">
  <div class="card-header c4">
    Compensation By
    <div class="card-header-actions">
      <div class="row">
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType2" name="tableType2" value="wsid">wsid &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType2" name="tableType2" value="village">village &nbsp;</label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-wrapper" [hidden]="tableType2 !== 'wsid'">
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol6">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource6">

          <td>{{col.WSID}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper" [hidden]="tableType2 !== 'village'">
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol7">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource7">

          <td>{{col.VILLAGE}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>

  </div>
</div>

<!-- <div class="card">
  <div class="card-header c4">
    Compensation By
  </div>
  <div class="card-body">
    <div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol7">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource7">

          <td>{{col.VILLAGE}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>

  </div>
</div> -->



<div class="card">
  <div class="card-header">
    Compensation
    <button mat-raised-button (click)="xlsxReport()" class="btn btn-primary pull-right">Export to Excel</button>
  </div>

  <div class="mat-elevation-z8 hwc">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="COM_METAINSTANCE_ID">
        <mat-header-cell *matHeaderCellDef>DC_METAINSTANCE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_METAINSTANCE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="COM_DEVICE_ID">
        <mat-header-cell *matHeaderCellDef>DC_DEVICE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_DEVICE_ID}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="COM_USER_NAME">
        <mat-header-cell *matHeaderCellDef>DC_USER_NAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_USER_NAME}}</mat-cell>
      </ng-container>
      <!--
      <ng-container matColumnDef="DC_NH_CASES">
        <mat-header-cell *matHeaderCellDef>DC_NH_CASES</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_NH_CASES}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_BP_CASES">
        <mat-header-cell *matHeaderCellDef>DC_BP_CASES</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_BP_CASES}}</mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="COM_OM_TOTAL_CASES">
        <mat-header-cell *matHeaderCellDef>DC_TOTAL_CASES</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_OM_TOTAL_CASES}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedCol"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
