<!-- <ng4-loading-spinner [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner> -->

<app-date-picker (submit)='onSubmit($event)'></app-date-picker>


<div class="card">
  <div class="card-header c4">
    Total Compensation
  </div>
  <div class="card-body">
    <div>
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource1, 'Total_Compensation')">
            Export
          </div>
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th  *ngFor="let col of displayedCol1">
            {{col}}
          </th>
        </tr>
        <tr class="table-warning"*ngFor="let col of dataSource1">
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>



<div class="card">
  <div class="card-header c4">
    Compensation By {{tableType1}}
    <div class="card-header-actions">
      <div class="row">
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="Catagory">catagory &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="Park">park &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="Taluk">taluk &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType1" name="tableType1" value="Village">village &nbsp;</label>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="table-wrapper" [hidden]="tableType1 !== 'Catagory'">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource2, 'Compensation_by_category')">
            Export
          </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol2">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource2 | paginate: { itemsPerPage: 7, currentPage: p2, id: 'second'}">
          <td>{{col.CATAGORY}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
      <div class="float-right">
        <pagination-controls  (pageChange)="p2 = $event" id="second"></pagination-controls>
      </div>
    </div>
    <div class="table-wrapper" [hidden]="tableType1 !== 'Park'">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource3, 'Compensation_by_park')">
            Export
          </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol3">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource3">
          <td>{{col.PARK}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper" [hidden]="tableType1 !== 'Taluk'">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource4, 'Compensation_by_taluk')">
            Export
          </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol4">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource4 | paginate: { itemsPerPage: 7, currentPage: p4, id: 'fourth'}">
          <td>{{col.TALUK}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
      <div class="float-right">
      <pagination-controls (pageChange)="p4 = $event" id="fourth"></pagination-controls>
    </div>
    </div>
    <div class="table-wrapper" [hidden]="tableType1 !== 'Village'">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource5, 'Compensation_by_village')">
            Export
          </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol5">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource5 | paginate: { itemsPerPage: 7, currentPage: p5, id: 'fifth'}">
          <td>{{col.VILLAGE}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.TOTAL}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
      <div class="float-right">
      <pagination-controls (pageChange)="p5 = $event" id="fifth"></pagination-controls>
    </div>
    </div>

  </div>
</div>



<div class="card">
  <div class="card-header c4">
    Compensation By {{tableType2}}
    <div class="card-header-actions">
      <div class="row">
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType2" name="tableType2" value="WSID">wsid &nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" [(ngModel)]="tableType2" name="tableType2" value="Village">village &nbsp;</label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-wrapper" [hidden]="tableType2 !== 'WSID'">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource6, 'Compensation_by_wsid')">
            Export
          </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol6">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource6 | paginate: { itemsPerPage: 7, currentPage: p6, id: 'sixth'}">
          <td>{{col.WSID}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
      <div class="float-right">
      <pagination-controls (pageChange)="p6 = $event" id="sixth"></pagination-controls>
    </div>
    </div>
    <div class="table-wrapper" [hidden]="tableType2 !== 'Village'">
        <div class="btn btn-primary btn-sm float-right" (click)="xlsxReport(dataSource7, 'Comp_by_village_by_data_range')">
            Export
          </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol7">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource7 | paginate: { itemsPerPage: 7, currentPage: p7, id: 'seventh'}">
          <td>{{col.VILLAGE}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
      <div class="float-right">
      <pagination-controls (pageChange)="p7 = $event" id="seventh"></pagination-controls>
    </div>
    </div>

  </div>
</div>

<!-- <div class="card">
  <div class="card-header c4">
    Compensation By
  </div>
  <div class="card-body">
    <div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let col of displayedCol7">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let col of dataSource7">

          <td>{{col.VILLAGE}}</td>
          <td>{{col.FREQ}}</td>
          <td>{{col.AVERAGE}}</td>
          <td>{{col.COMP_MAX}}</td>
          <td>{{col.COMP_MIN}}</td>
        </tr>
      </table>
    </div>

  </div>
</div>



<div class="card">
  <div class="card-header">
    Compensation
    <button mat-raised-button (click)="xlsxReport()" class="btn btn-primary pull-right">Export to Excel</button>
  </div>

  <div class="mat-elevation-z8 hwc">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="COM_METAINSTANCE_ID">
        <mat-header-cell *matHeaderCellDef>DC_METAINSTANCE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_METAINSTANCE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="COM_DEVICE_ID">
        <mat-header-cell *matHeaderCellDef>DC_DEVICE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_DEVICE_ID}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="COM_USER_NAME">
        <mat-header-cell *matHeaderCellDef>DC_USER_NAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_USER_NAME}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="COM_OM_TOTAL_CASES">
        <mat-header-cell *matHeaderCellDef>DC_TOTAL_CASES</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.COM_OM_TOTAL_CASES}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedCol"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div> -->
