<div class="container">
  <button class="float-right btn btn-sm " (click)="onNoClick()"> <i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
 </div>
<div class="container m-0 p-0">
  <h3>WildSeve User Details</h3>
  <form [formGroup]="wsForm">

    <!-- <mat-form-field>
      <input formControlName="HWC_METAINSTANCE_ID" matInput placeholder="COMP METAINSTANCE ID" readonly>
    </mat-form-field> -->
    <div class="row">
    <div class="col-md-6">
   <mat-form-field>
    <input formControlName="HWC_WSID" matInput placeholder="HWC_WSID" readonly>
 </mat-form-field>
 <mat-form-field>
  <input formControlName="HWC_FIRST_NAME" matInput placeholder="HWC FIRST NAME">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_LAST_NAME" matInput placeholder="HWC LAST NAME">
</mat-form-field>
<mat-form-field>
  <input formControlName="HWC_FULL_NAME" matInput placeholder="HWC FULL NAME">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_PARENT_NAME" matInput placeholder="HWC PARENT NAME">
</mat-form-field>
<mat-form-field>
  <input formControlName="HWC_PARK_NAME" matInput placeholder="HWC PARK NAME">
  </mat-form-field>
</div>
<div class="col-md-6">
  <mat-form-field>
    <input formControlName="HWC_TALUK_NAME" matInput placeholder="HWC TALUK NAME">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_RANGE" matInput placeholder="HWC RANGE NAME">
      </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_VILLAGE_NAME" matInput placeholder="HWC VILLAGE NAME">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="HWC_OLDPHONE_NUMBER" matInput placeholder="HWC OLD PHONE NUMBER">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="HWC_NEWPHONE_NUMBER" matInput placeholder="HWC NEW PHONE NUMBER">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="HWC_SURVEY_NUMBER" matInput placeholder="HWC SURVEY NUMBER">
            </mat-form-field>
          </div>
        </div>
            <button mat-raised-button color="primary" (click)="wsForm.enable()" *ngIf="wsForm.disabled">Edit</button>
            <button mat-raised-button color="accent" style="margin-right: 5px;" *ngIf="wsForm.enabled" (click)="updateWildSeveUser(wsForm.value);wsForm.disable()">Save</button>
            <button mat-raised-button color="primary" *ngIf="wsForm.enabled" (click)="wsForm.disable()">Cancel</button>

          </form>

</div>
