<!-- <div class="container">
  <button class="float-right btn btn-sm " (click)="onNoClick()"> <i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
  <p>Hello world</p>
</div> -->
<div class="container">
<div class="row">
  <form [formGroup]="hwcMainForm">
    <div class="row">
    <div class="col-md-6">
    <mat-form-field>
      <input formControlName="HWC_METAINSTANCE_ID" matInput placeholder="HWC META INSTANCE ID">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_METAMODEL_VERSION" matInput placeholder="HWC METAMODEL VERSION">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_METAUI_VERSION" matInput placeholder="HWC METAUI VERSION">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_METASUBMISSION_DATE" matInput placeholder="HWC METASUBMISSION DATE">
   </mat-form-field>
   <mat-form-field>
    <input formControlName="HWC_WSID" matInput placeholder="HWC WSID">
 </mat-form-field>
   <mat-form-field>
    <input formControlName="HWC_FIRST_NAME" matInput placeholder="HWC FIRST NAME">
 </mat-form-field>
 <mat-form-field>
  <input formControlName="HWC_LAST_NAME" matInput placeholder="HWC LAST NAME">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_PARENT_NAME" matInput placeholder="HWC PARENT NAME">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_FULL_NAME" matInput placeholder="HWC FULL NAME">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_PARK_NAME" matInput placeholder="HWC PARK NAME">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_TALUK_NAME" matInput placeholder="HWC TALUK NAME">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_VILLAGE_NAME" matInput placeholder="HWC VILLAGE NAME">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_OLDPHONE_NUMBER" matInput placeholder="HWC OLDPHONE NUMBER">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_NEWPHONE_NUMBER" matInput placeholder="HWC NEWPHONE NUMBER">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_SURVEY_NUMBER" matInput placeholder="HWC SURVEY NUMBER">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_RANGE" matInput placeholder="HWC RANGE">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_LATITUDE" matInput placeholder="HWC LATITUDE">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_LONGITUDE" matInput placeholder="HWC LONGITUDE">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_ACCURACY" matInput placeholder="HWC ACCURACY">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_ALTITUDE" matInput placeholder="HWC ALTITUDE">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_CASE_DATE" matInput placeholder="HWC CASE DATE">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_CASE_CATEGORY" matInput placeholder="HWC CASE CATEGORY">
</mat-form-field>
<mat-form-field>
<input formControlName="HWC_ANIMAL" matInput placeholder="HWC ANIMAL">
</mat-form-field>
</div>
  <div class="col-md-6">
      <mat-form-field>
          <input formControlName="HWC_OTHER_ANIMAL" matInput placeholder="HWC OTHER ANIMAL">
          </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_HI_NAME" matInput placeholder="HWC HI NAME">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_HI_VILLAGE" matInput placeholder="HWC HI VILLAGE">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_HI_AREA" matInput placeholder="HWC HI AREA">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_HI_DETAILS" matInput placeholder="HWC HI DETAILS">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_HD_NAME" matInput placeholder="HWC HD NAME">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_HD_VILLAGE" matInput placeholder="HWC HD VILLAGE">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_HD_DETAILS" matInput placeholder="HWC HD DETAILS">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_COMMENT" matInput placeholder="HWC COMMENT">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_FD_SUB_DATE" matInput placeholder="HWC FD SUB DATE">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_FD_SUB_RANGE" matInput placeholder="HWC FD SUB RANGE">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_FD_NUM_FORMS" matInput placeholder="HWC FD NUM FORMS">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_FD_NUM_DAYS" matInput placeholder="HWC FD NUM DAYS">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_FD_COMMENT" matInput placeholder="HWC FD COMMENT">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_START" matInput placeholder="HWC START">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_END" matInput placeholder="HWC END">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_DEVICE_ID" matInput placeholder="HWC DEVICE ID">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_SIMCARD_ID" matInput placeholder="HWC SIMCARD ID">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_FA_PHONE_NUMBER" matInput placeholder="HWC FA PHONE NUMBER">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_USER_NAME" matInput placeholder="HWC USER NAME">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_CASE_TYPE" matInput placeholder="HWC CASE TYPE">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_COMMENT_1" matInput placeholder="HWC COMMENT 1">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="HWC_COMMENT_2" matInput placeholder="HWC COMMENT 2">
    </mat-form-field>
  </div>
</div>
</form>
</div>
<hr/>

<div class="row" >
  <h2>Crop Details</h2>

  <table class="table table-bordered" *ngIf="cropHeaders != undefined">
    <tr>
      <th>Action</th>
      <th *ngFor="let header of cropHeaders">{{header}}</th>
    </tr>
    <tr *ngFor="let data of cropDetails">
        <td>
            <button (click)="data.isEditable=!data.isEditable" *ngIf="!data.isEditable">Edit</button>
            <button *ngIf="data.isEditable" (click)="updateCropData(data);data.isEditable=!data.isEditable">Save</button>

         </td>
      <td *ngFor="let header of cropHeaders"><input type="text" [(ngModel)]="data[header]" [disabled]="!data.isEditable"/></td>
    </tr>
  </table>
</div>

<hr/>

<div class="row" >
  <h2>Property Details</h2>

  <table class="table table-bordered" *ngIf="propertyHeaders != undefined">
    <tr>
        <th>Action</th>
      <th *ngFor="let header of propertyHeaders">{{header}}</th>
    </tr>
    <td>
        <button (click)="data.isEditable=!data.isEditable" *ngIf="!data.isEditable">Edit</button>
        <button *ngIf="data.isEditable" (click)="updatePropertyData(data);data.isEditable=!data.isEditable">Save</button>

     </td>
    <tr *ngFor="let data of propertyDetails">
      <td *ngFor="let header of propertyHeaders"><input type="text" [(ngModel)]="data[header]" [disabled]="!data.isEditable"/></td>
    </tr>
  </table>

</div>
<hr>

<div class="row">
  <h2>Livestock Details</h2>

  <table class="table table-bordered" *ngIf="liveStockHeaders != undefined">
    <tr>
        <th>Action</th>
      <th *ngFor="let header of liveStockHeaders">{{header}}</th>
    </tr>
    <tr *ngFor="let data of liveStockDetails">
        <td>
            <button (click)="data.isEditable=!data.isEditable" *ngIf="!data.isEditable">Edit</button>
            <button *ngIf="data.isEditable" (click)="updateLivestockData(data);data.isEditable=!data.isEditable">Save</button>

         </td>
      <td *ngFor="let header of liveStockHeaders"><input type="text" [(ngModel)]="data[header]" [disabled]="!data.isEditable"/></td>
    </tr>
  </table>
</div>

</div>



 <!-- <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company Name" [disabled]="active">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" [disabled]="active">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" [disabled]="active">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text" [disabled]="active">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text" [disabled]="active">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text" [disabled]="active">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text" [disabled]="active">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text" [disabled]="active">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text" [disabled]="active">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo." [disabled]="active"></textarea>
                                 </mat-form-field>

                              </div>
                          </div>
                          <button mat-raised-button type="submit" *ngIf="enable" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div> -->


