
.card-header{
  background-color: rgb(18, 194, 127);
}

// .mat-row,
// .mat-header-row {
//   width: 250%;
// }

table> .mat-table{
  overflow-x: scroll;
  max-height: 400px;
  width: 100px;
}

.mat-cell {
  min-width: 175px;
  text-align: center;
  padding: 0 !important;
}

.mat-row {
  height: auto;
}

.mat-header-row{
  height: auto;
}

.mat-header-cell{
  min-width: 175px;
  text-align: center;
  padding: 0;
  font-weight: bolder;
}
// th{
//   min-width: 200px;
//   display: flex;
//   justify-content: center;
// }



.content{
  display: flex;

  flex-direction: row;
  justify-content: flex-end;
}

::ng-deep .mat-select-panel {
  overflow-y: scroll;
  max-height: 30vh;
}
/*unnecessary to make table header fixed*/
// .mat-header-row {
//   top: 0;
//   position: sticky;
//   z-index: 1;
//   background-color: inherit;
//   text-align: center;
// }
